ol{
  font-size: medium;
  font-family:Arial, Helvetica, sans-serif;
}

.scroll-container {
  height: 400px; /* Adjust height as needed */
  width: 300px;
  overflow-y: auto;
  border: 1px solid #ddd; /* Optional border for styling */
}

header,p{
  font-weight:bold;
}